h1{
    text-align: center;
    
}



p{
    text-align: center;
}


.searchHeader{
    background-color: rgba(199, 82, 5, 0.932);
    color: white;

}


.nextbutton{
    color: red;
}

button{
    color: blue;
    border-radius: 100px;
    
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}